.missing {
	color:#de2222;
	font-weight: bold;
}

.collapsible {
	position:relative;
	top:0;
	left:0;
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 10px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 1em;
	border:1px solid #ddd;
}

.collapsible .date {
	font-style: italic;
}

.collapsible .date:after {
	padding:0px 20px;
	content:'\2212';
}

.collapsible:after {
	position:absolute;
	width:30px;
	text-align:center;
	right:0.5em;
	top:50%;
	transform: translateY(-50%);
	color:white;
	font-size:1.5em;
	content: "+"; /* Unicode character for "minus" sign (-) */
}

.active:after {
	position:absolute;
	width:30px;
	text-align:center;
	right:0.5em;
	top:50%;
	transform: translateY(-50%);
	color:white;
	font-size:1.5em;
	content: "-"; /* Unicode character for "minus" sign (-) */
}

.active, .collapsible:hover {
	background-color: #555;
}

.content {
	padding: 0px 20px;
	max-height: 0;
	font-size:0.9em;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #f1f1f1;
}

.content p {
	font-size:inherit;
}


.content .party-list {
	position:relative;
	top:0;
	left:0;
	margin:1.7em 0.1em 0.5em 0.1em;
	line-height:1.2em;
}
.content .party-list::before {
	display:block;
	position:absolute;
	width:100%;
	left:0px;
	top:-1.2em;
	content:'Party:';
}

ul, ol {
	font-size:inherit;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:1.8em;
	margin-top:0;
}

.container {
	padding:20px 0px 5px;
}

table {
	border-collapse: collapse;
	font-size: inherit;
}

th {
	border:2px solid gray;
	text-align: center;
	font-weight: bold;
	color:lightskyblue;
	background:#111133;
	padding:0.2em 0.5em;
}

.timeline td.sub-header {
	border:2px outset #ddd;
	text-align: center;
	font-weight: bold;
	background:lightsteelblue;
	font-size:inherit;
}

.timeline td {
	border:2px solid gray;
	padding:0.5em;
	font-size:1em;
}