html,
body {
	margin: 0;
	height: 100%;
	overflow: hidden
}

.travel-brochure .location-info {
	width: 30%;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	box-shadow: 1px 0px 10px black,
		8px 0px 8px inset rgba(255, 255, 255, 0.5);
	z-index: 6;
	height: 100%;
	overflow-y: auto;
	background-color:#f4f0cb;
	background-image: url(/dnd/img/textures/parchment.jpg);
	background-repeat: repeat;
}

.location-info h2 {
	box-shadow: 0px 2px 0px #342b24,
		2px 0px 0px #342b24,
		2px 2px 0px #342b24,
		2px -2px 0px #b0a59c,
		-2px -2px 0px #b0a59c,
		-2px 2px 0px #b0a59c;
	margin: 2em 0.5em 1em 0.5em;
	padding: 7px 10px;
	font-size: 14pt;
	text-align: center;
	font-weight: 600;
	font-family: 'Merienda One', cursive;
	color: #5ea04a;
	background-color: #665343;
	text-shadow: 0px -1px 0px rgba(255, 255, 255, .2), -1px 0px 0px rgba(255, 255, 255, .2), 0px 2px 0px rgba(0, 0, 0, .7), 2px 0px 0px rgba(0, 0, 0, .7);
}

.location-info h1 {
	box-shadow: 0px 2px 0px #342b24,
		2px 0px 0px #342b24,
		2px 2px 0px #342b24,
		2px -2px 0px #b0a59c,
		-2px -2px 0px #b0a59c,
		-2px 2px 0px #b0a59c;
	margin: 0.5em 0.4em;
	padding: 7px 10px;
	font-size: 16pt;
	text-align: center;
	font-weight: 600;
	font-family: 'Merienda One', cursive;
	color: #5ea04a;
	background-color: #665343;
	text-shadow: 0px -1px 0px rgba(255, 255, 255, .2), -1px 0px 0px rgba(255, 255, 255, .2), 0px 2px 0px rgba(0, 0, 0, .7), 2px 0px 0px rgba(0, 0, 0, .7);
}

.location-info h3 {
	text-align-last: justify;
	margin: 0.5em 1em;
	font-size: 13pt;
	text-shadow: 0px 0px 1px #555;
	font-weight: 900;
	font-family: monospace;
	color: #999;
	text-transform: uppercase;
}

.location-info p {
	text-align: justify;
	margin: 1em 1em;
	font-size: 1em;
	text-shadow: 0px 0px 1px #eee;
	font-weight: 500;
	color: rgba(17, 17, 17, 0.9);
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.location-info ul {
	text-align: left;
	margin: 0em 1em 0.5em 0.5em;
	font-size: 1em;
	text-shadow: 0px 0px 1px #111;
	font-weight: 500;
	color: rgba(17, 17, 17, 0.9);
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.poi {
	position: absolute;
	width: 31px;
	height: 31px;
	background: #00755e;
	border: 1px solid black;
	box-sizing: border-box;
	text-align: center;
	line-height: 26px;
	font-size: 26px;
	font-weight: bold;
	color: white;
}

.location-info ul li {
	padding-top: 0.5em;
}

.travel-brochure #map-body {
	width: 70%;
	display: block;
	float: right;
}