html,
body {
	margin: 0;
	height: 100%;
	overflow: hidden
}

.travel-brochure .location-info {
	width: 30%;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	box-shadow: 1px 0px 10px black,
		8px 0px 8px inset rgba(255, 255, 255, 0.5);
	z-index: 6;
	height: 100%;
	overflow-y: auto;
	background-color:#f4f0cb;
	background-image: url(/dnd/img/textures/parchment.jpg);
	background-repeat: repeat;
}

.location-info h2 {
	background-color:#bbb;
	box-shadow:0px 0px 5px #ddd;
	margin:2em 0.5em 1em 0.5em;
	padding:7px 10px;
	font-size:13pt;
	text-shadow: 0px 0px 1px #ddd;
	text-align:center;
	font-weight:600;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color:#333
}

.location-info h1 {
	background-color:#bbb;
	box-shadow:0px 0px 5px #ddd;
	margin:0.5em 0.4em;
	padding:7px 10px;
	font-size:16pt;
	text-shadow: 0px 0px 1px #ddd;
	text-align:center;
	font-weight:600;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color:#333
}

.location-info h3 {
	text-align-last: justify;
	margin:0.5em 1em;
	font-size:13pt;
	text-shadow: 0px 0px 1px #ddd;
	font-weight:900;
	font-family:monospace;
	color:#222;
	text-shadow: 0px 0px 1px #000;
	text-transform: uppercase;
}

.location-info p {
	text-align: justify;
	margin: 1em 1em;
	font-size: 1em;
	font-weight: 500;
	color: rgba(17, 17, 17, 0.9);
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.location-info ul {
	text-align: left;
	margin: 0em 1em 0.5em 0.5em;
	font-size: 1em;
	font-weight: 500;
	color: rgba(17, 17, 17, 0.9);
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.poi {
	position: absolute;
	width: 31px;
	height: 31px;
	background: #00755e;
	border: 1px solid black;
	box-sizing: border-box;
	text-align: center;
	line-height: 26px;
	font-size: 26px;
	font-weight: bold;
	color: white;
}

.location-info ul li {
	padding-top: 0.5em;
}

.travel-brochure #map-body {
	width: 70%;
	display: block;
	float: right;
}

.map {
	background-repeat: no-repeat;
	background-size: contain;
	text-align: center;
	transform-origin:center center;
	image-rendering: pixelated;
}