<table class="infobox" style="border-spacing: 2px 5px;">
	<tbody>
		<tr>
			<th colspan="2" class="infobox-above" style="background: #DEDEE2;">{{ page.title }}</th>
		</tr>
		{% if page.image and page.image.size > 0 %}
			<tr>
				<td colspan="2" class="infobox-image">
					<a href="{{ page.image }}" class="image">
						<img src="{{ page.image }}" decoding="async" width="220" height="325" />
					</a>

					{% if page.caption and page.caption.size > 0 %}
						<div class="infobox-caption">{{ page.caption }}</div>
					{% endif %}
				</td>
			</tr>
		{% endif %}
		{% if page.firstAppearance and page.firstAppearance.size > 0 %}
			<tr>
				<th scope="row" class="infobox-label">First appearance</th>
				<td class="infobox-data">{{ page.firstAppearance }}</td>
			</tr>
		{% endif %}
		<!-- <tr>
			<th colspan="2" class="infobox-header" style="background: #DEDEE2;">In-universe information</th>
		</tr> -->
		{% if page.species %}
			<tr>
				<th scope="row" class="infobox-label">Species</th>
				<td class="infobox-data"><a href="/species/{{page.species|slugize}}" title="{{page.species}}">{{ page.species }}</a></td>
			</tr>
		{% endif %}
		{% if page.gender %}
			<tr>
				<th scope="row" class="infobox-label">Gender</th>
				<td class="infobox-data">{{ page.gender }}</td>
			</tr>
		{% endif %}
		{% if page.lastKnownLocation and page.lastKnownLocation.size > 0 %}
			<tr>
				<th scope="row" class="infobox-label">Last known location</th>
				<td class="infobox-data">{{ page.lastKnownLocation }}</td>
			</tr>
		{% endif %}
		{% if page.titles and page.titles.size > 0 %}
		<tr>
			<th scope="row" class="infobox-label">Titles</th>
			<td class="infobox-data">
				<div class="plainlist">
					<ul>
						{% for row in page.titles %}
						<li>{{row}}</li>
						{% endfor %}
					</ul>
				</div>
			</td>
		</tr>
		{% endif %}
		{% if page.affiliations and page.affiliations.size > 0 %}
		<tr>
			<th scope="row" class="infobox-label">Affiliations</th>
			<td class="infobox-data">
				<div class="plainlist">
					<ul>
						{% for row in page.affiliations %}
						<li>{{row}}</li>
						{% endfor %}
					</ul>
				</div>
			</td>
		</tr>
		{% endif %}
		{% if page.relationships and page.relationships.size > 0 %}
		<tr>
			<th scope="row" class="infobox-label">Relationships</th>
			<td class="infobox-data">
				<div class="plainlist">
					<ul>
						{% for row in page.relationships %}
						<li>{{row.name}} ({{row.type}})</li>
						{% endfor %}
					</ul>
				</div>
			</td>
		</tr>
		{% endif %}
		{% if page.speciesInfo %}
		{% include git-wiki/components/infobox/species-info.html %}
		{% endif %}
		{% if page.extra and page.extra.size > 0 %}
		{% for row in page.extra %}
		<tr>
			<th scope="row" class="infobox-label">{{ row.label }}</th>
			<td class="infobox-data">{{ row.value }}</td>
		</tr>
		{% endfor %}
		{% endif %}
	</tbody>
</table>