div.token {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	image-rendering: pixelated;
}

/*#region stuff for jquery.multiselect.js*/
.ms-options-wrap,
.ms-options-wrap>button {
	width: 100%;
}

.ms-options-wrap>button>span {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
 }

 .ms-options-wrap {
	 position: relative;
 }
/*#endregion stuff for jquery.multiselect.js*/

@media print
{
	.collapse:not(.show),
	.collapse:not(.show) *
	{
		display: none !important;
	}

	.background {
		margin:0;
		padding:0;
		background: none;
	}

	.container {
		width: 100%;
		margin:0;
		border: none;
	}

	.npc-table tr {
		break-inside: avoid;
		page-break-inside: avoid;
	}

	.noprint {
		display: none;
	}

	.accordion-body.bg-secondary {
		padding:0;
		margin: 0;
		background: none !important;
	}

	table.table {
		margin: 0;
	}

	.table-striped,
	.table-striped > tbody,
	.npc-row,
	.npc-row > * {
		background: white !important;
		/* background-color: none !important; */
		box-shadow: none !important;
	}
}