.background div.container {
	padding: 10px;
}

th {
	font-weight: bold;
	border: 2px solid #555;
	background: #333;
	color: floralwhite;
	padding: 4px;
}

td {
	border: 2px solid #555;
	padding: 4px;
}

.collapsible {
	background: rgba(50, 50, 50, 0.1);
	border-radius: 1em;
	position: relative;
}

.collapsible.collapsed table {
	display: none;
}

.collapsible>h3 {
	cursor: pointer;
	padding-left: 1em;
	padding-right: 1em;
}

.collapse-button {
	width: 2em;
}

.collapse-button:before {
	content: "\25B2";
}

.collapsed .collapse-button:before {
	content: "\25BC";
}

div.token {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	image-rendering: pixelated;
}

/* th.species { width: 20% }
th.gender { width: 12% }
th.age { width: 10% }
th.alignment { width: 15% }
th.threat-level { width: 15% }
th.intelligence { width: 15% } */
th.description {
	width: 50%
}

th.token {
	width: 10%
}

th.controls {
	width: 10%
}

.generator-settings {
	width: 100%;
	max-width: 100%;
	margin:auto;
	border-collapse: collapse;
}

.npc-table {
	width:100%;
	margin:auto;
	border-collapse: collapse;
}

@media print
{
	.collapsed,
	.collapsed *
	{
		display: none !important;
	}

	.background {
		margin:0;
		padding:0;
	}

	.container {
		width: 100%;
		margin:0;
		border: none;
	}

	.npc-table tr {
		break-inside: avoid;
		page-break-inside: avoid;
	}

	.collapsible {
		background: none;
	}
}