.map-lagos {
	background-image:url('/dnd/img/maps/landmasses/Lagos.svg');
}

.map-bravagg {
	background-image:url('/dnd/img/maps/landmasses/Bravagg.svg');
}

.map-paros {
	background-image:url('/dnd/img/maps/landmasses/Paros.svg');
}

.map-peku {
	background-image:url('/dnd/img/maps/landmasses/Peku.png');
}

.map-terrapim {
	background-image:url('/dnd/img/maps/landmasses/Terrapim.svg');
}

.map-decapos {
	background-image:url('/dnd/img/maps/landmasses/Decapos.svg');
}