<body>
	<div class="wrapper">
		{% include git-wiki/sections/header/header.html %}
		<div class="git-wiki-page">
			<section>

				{% include git-wiki/sections/tools/tools.html %}

				{% include git-wiki/components/toc/toc.html %}

				{% if site.inc_before_content %}
				{% include {{ site.inc_before_content }} %}
				{% endif %}

				<div id="git-wiki-content">
					{% include git-wiki/components/infobox/infobox.html %}
					{{ content }}
				</div>
				{% include git-wiki/components/categories/categories-footer.html %}

				{% if site.inc_after_content %}
				{% include {{ site.inc_after_content }} %}
				{% endif %}
			</section>
		</div>
		{% include git-wiki/sections/footer/footer.html %}
	</div>

	{% include git-wiki/sections/tail/tail.html %}
</body>